<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Princess Connect! Re:Dive Helper</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">킹카피</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">메인</a>
            <a class="nav-link" href="#">배틀 아레나</a>
            <a class="nav-link" href="#">클랜전</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">당신을 위한 게임 도우미</h1>
        <p class="lead" style="word-break: keep-all">Princess Connect! Re:Dive를 플레이할 때 필요한 여러 기능을 지원합니다. </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Github: <a href="https://github.com/ho94949/priconne-arena">priconne-arena</a> Twitter: <a href="https://twitter.com/mega_kina">@mega_kina</a></p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/bootstrap/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/static/bootstrap/js/vendor/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
